<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.testboot.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.test.testboot.entity.Score">
            <id property="id" column="id" />
            <result property="stuId" column="stu_id" />
            <result property="cName" column="c_name" />
            <result property="grade" column="grade" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stu_id,c_name,grade
    </sql>

    <!--通过id插入score-->
    <insert id="insertById" parameterType="com.test.testboot.entity.Score">
        insert into test.score (id, stu_id, c_name, grade)
        values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER})
    </insert>

    <!--通过id修改score-->
    <update id="updateById" parameterType="com.test.testboot.entity.Score">
        update test.score
        set grade = #{grade,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过id修改score全数据-->
    <update id="updateByIdAll" parameterType="com.test.testboot.entity.Score">
        update test.score
        set stu_id = #{stuId,jdbcType=INTEGER},
            c_name = #{cName,jdbcType=VARCHAR},
            grade  = #{grade,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过id删除score-->
    <delete id="deleteById" parameterType="com.test.testboot.entity.Score">
        delete
        from test.score
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--查询所有score-->
    <select id="selectAll" resultType="com.test.testboot.entity.Score">
        select s.id, s.stu_id, s.c_name, s.grade
        from test.score s
    </select>

    <!--通过id查询score-->
    <select id="selectById" resultType="com.test.testboot.entity.Score">
        select s.id, s.stu_id, s.c_name, s.grade
        from test.score s
        where s.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>
